@import "../bower_components/bootstrap/less/bootstrap.less";

/* Put your CSS here */
html, body {
  margin: 10px 0;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.selected {
  font-weight: bold;
  background-color: red;
}

.fa {
  font-size: 100%;
}



