<table class="table table-hover">
  <thead>
    <tr>
      <th>Event</th>
      <th>Tags</th>
      <th>Unit</th>
      <th>Micromorts</th>
    </tr>
  </thead>
  <tbody>
    <tr class="selected">
      <td>{{selectedRow.Event}}</td>
      <td>{{selectedRow.Tags}}</td>
      <td>{{selectedRow.Unit}}</td>
      <td>{{selectedRow.Micromorts}}</td>
    </tr>
    <tr ng-repeat="row in rows" ng-click="selectRow(row, $index)" ng-class="selected(row)">
      <td>{{row.Event}}</td>
      <td>{{row.Tags}}</td>
      <td>{{row.Unit}}</td>
      <td>{{row.Micromorts}}</td>
    </tr>
  </tbody>
</table>